.item-layout {
    padding: 10px;
}

.toolbar .input-search {
    padding: 10px 10px;
}

.toolbar .button-add-item {
    padding: 10px;
}
    
.toolbar .flex-container-horizontal {   
    display: flex;
    flex-direction: row;
}

.toolbar .flex-container-horizontal .flex-7{
    flex: 7;
}

.toolbar .flex-container-horizontal .flex-1{
    flex: 1;
}